RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
RESEND_SEGMENT_ID=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_SPONSOR_US_LINK=
NEXT_PUBLIC_PRODUCT_HUNT_LINK=
NEXT_PUBLIC_CONTACT_EMAIL=

NEXT_TELEMETRY_DISABLED=true
